<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Account">
        <setting id="login" type="action" label="Login" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/login/)" option="close"/>
        <setting id="logout" type="action" label="Logout" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/logout/)" option="close"/>
    </category>
    <category label="Setup">
        <setting label="Setup Simple IPTV PVR" type="action" id="pvrsetup" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/pvrsetup/)" option="close"/>
    </category>
    <category label="Languages">
        <setting id="Hindi" type="bool" label="Hindi" default="true"/>
        <setting id="English" type="bool" label="English" default="true"/>
        <setting id="Marathi" type="bool" label="Marathi" default="true"/>
        <setting id="Telugu" type="bool" label="Telugu" default="true"/>
        <setting id="Kannada" type="bool" label="Kannada" default="true"/>
        <setting id="Tamil" type="bool" label="Tamil" default="true"/>
        <setting id="Punjabi" type="bool" label="Punjabi" default="true"/>
        <setting id="Gujarati" type="bool" label="Gujarati" default="true"/>
        <setting id="Bengali" type="bool" label="Bengali" default="true"/>
        <setting id="Bhojpuri" type="bool" label="Bhojpuri" default="true"/>
        <setting id="Malayalam" type="bool" label="Malayalam" default="true"/>
        <setting id="Odia" type="bool" label="Odia" default="true"/>
        <setting id="Assamese" type="bool" label="Assamese" default="true"/>
        <setting id="Urdu" type="bool" label="Urdu" default="true"/>
        <setting id="Nepali" type="bool" label="Nepali" default="true"/>
    </category>
    <category label="Advance">
        <setting id="cleanup" type="action" label="Clear Cache" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/cleanup/)" option="close"/>
        <setting id="popup" type="bool" label="Disable Welcome Popup" default="false"/>
    </category>
</settings>

